# Environment variables
.env

# macOS files
.DS_Store
**/.DS_Store

# Node modules
/frontend/node_modules
**/node_modules

# Vite cache and dependencies
.vite/
.vite


# F# fake build directories
.fake
.ionide

# Build outputs
/dist
/build